@font-face {
    font-family: 'Recoleta';
    src: url('/assets/recoleta-font.otf');
}

* {
    font-family: 'Recoleta';
}

h1 {
    margin: auto;
    text-align: center;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.game-container {
    margin: 0 auto;
    width: 80%;
    background-color: lightgray;
    padding: 100px;
}

#artist-one, #artist-two {
    text-align: center;
    background-color: skyblue;
    padding: 50px 20px 50px 20px;
    border-radius: 100px;
    border: 3px solid black;
}

#scoreboard {
    padding-top: 50px;
    text-align: center;
}

#score {
    font-size: 3rem;
}

#real-game {
    display: flex;
    justify-content: space-evenly;
}

#real-game img {
    width: 300px;
    height: 300px;
    border-radius: 100px;
}

#start-game {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}