@font-face {
    font-family: 'Recoleta';
    src: url('/assets/recoleta-font.otf');
}

@keyframes lostGameFlash {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: pink;
    }
    100% {
        background-color: aqua;
    }
}

@keyframes wonGameFlash {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: aqua;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

#artist-two-followers {
    transition: --num 1s;
    counter-reset: num var(--num);
}

#artist-two-followers::after {
    content: counter(num);
}

* {
    font-family: 'Recoleta';
    cursor: none;
}

body {
    background-color: aqua;
}

h1 {
    margin: auto;
    text-align: center;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

button:hover {
    background-color: beige;
}

.flashLost {
    animation: lostGameFlash 0.25s ease;
}

.flashWon {
    animation: wonGameFlash 0.25s ease;
}

.fade {
    animation: fadeIn 0.5s ease;
}

#cursor_outline {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px hotpink solid;
    transition: all 200ms ease-out;
    pointer-events: none;
}

#cursor {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(255, 10, 71, 0.5);
    pointer-events: none;
}

#cursor:active {
    background-color: bisque;
}

.game-container {
    margin: 0 auto;
    width: 80%;
    background-color: lightgray;
    padding: 100px;
    border-radius: 50px;
    border: 1px solid black;
}

#artist-one, #artist-two {
    text-align: center;
    background-color: skyblue;
    padding: 50px 20px 50px 20px;
    border-radius: 100px;
    border: 3px solid black;
}

#scoreboard {
    padding-top: 50px;
    text-align: center;
}

#score {
    font-size: 3rem;
}

#real-game {
    display: flex;
    justify-content: space-evenly;
}

#real-game img {
    width: 300px;
    height: 300px;
    border-radius: 100px;
    border: 3px solid white;
}

#start-game {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cool_line {
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background-color: black;
}

#has_failed {
    padding: 3px;
    font-size: 4rem;
}